@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: aliceblue;
}

.contain {
    background-image: url('img/lingua-inglesa.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: fit-content;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 40px;
    outline: 1px solid rgba(0, 0, 0, 0.262);
}

main {
    background-color: rgba(255, 255, 255, 0.882);
    border: 1px solid rgba(0, 0, 0, 0.211);
    padding: 15px;
    border-radius: 15px;
}

#quiz {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#quiz h1 {
    font-size: 1.6em;
}

#quiz p {
 text-align: center;
}

#quiz span {
    font-size: 1.2em;
    background-color: rgba(176, 240, 176, 0.862);
    padding: 5px 7px;
    border: 2px dotted;
    border-radius: 10px;
    width: 200px;
    margin: 5px 0px;
    flex: 0 1 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    flex: 1 1 100px;
    border: 2px dashed black;
    width: 90%;
    margin-top: 15px;
    border-radius: 25px;
    background-color: rgba(215, 215, 77, 0.436);

    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"]:focus {
    background-color: rgba(127, 255, 212, 0.804);
}

input[type="submit"] {
    cursor: pointer;
    padding: 2px 5px;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 5px;
    background-color: white;
    color: black;
    transition: background 250ms;
}

input[type="submit"]:hover {
    background-color: rgb(40, 39, 39);
    color: white;
}

a {
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 10%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.389);
    color: black;
    padding: 3px 8px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.342);
    border-radius: 10px;

    transition: 350ms ease-in-out;
}

a:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
}