@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contain {
    background-color: rgba(81, 154, 167, 0.316);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgba(255, 255, 255, 0.592);
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.318);
    padding: 20px;
    border-radius: 15px;
    z-index: 10;
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

form {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

label {
    margin: 8px 0px;
}

input[type="submit"] {
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.478);
    transition: background 150ms;
}

input[type="submit"]:hover {
    background-color: rgba(128, 128, 128, 0.201);
}

a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px 7px;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.592);
    border: 1px solid rgba(0, 0, 0, 0.419);
    border-radius: 12px 12px 0px 0px;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.166);
    transition: 150ms ease-in;
    z-index: 1;
}

a:hover {
    
    transform: translate(0px, -1px);
    background-color: rgba(255, 255, 255, 0.825);
    box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.415);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.241);
}
